<div class="root" [ngStyle]="{'background-color':task.worker.color}">


    <div class="desc">
        {{task.desc}}
    </div>
    
    
    <div class="worker">
        {{task.worker.name}},
        {{task.worker.nick}}
        <span class="type">
            {{task.worker.desc}}
        </span>
    </div>
    <!-- {{task.worker |json }} -->
    
    <div class="created">
        Created: {{task.created | date: 'dd/MM hh:mm'}}
    </div>
    <div class="footer">

    </div>

    <div class="trash">
        <mat-icon
        (click)="delTodoUnit()"
        >delete</mat-icon>
    </div>

    


</div>